@use "sass:math";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Distance from Sun (106 km) 	57.9 	108.2 	149.6 	0.384* 	228.0 	778.5 	1432.0 	2867.0 	4515.0 	5906.4
$mercury-orbit: 5.79em/0.7;
$venus-orbit: 10.82em/1;
$earth-orbit: 14.9em/1;
$mars-orbit: math.div(22.8em, 1.3);
$jupiter-orbit: 77.85em/3.3;
$saturn-orbit: 143.2em/4.8;
$uranus-orbit: 286.7em/8;
$neptune-orbit: 451.5em/11.2;

$earth-size: 1.5rem;
$mercury-size: (0.3829 * $earth-size);
$venus-size: (0.94 * $earth-size);
$mars-size: (0.53 * $earth-size);
$jupiter-size: (10.973 * $earth-size / 5);
$saturn-size: (9.1402 * $earth-size / 5);
$uranus-size: (3.98 * $earth-size / 3);
$neptune-size: (3.864 * $earth-size / 3);
$sun-size: (109 * $earth-size / 35) ;
// mean radius:
// mercury: 0.3829 Earths
// venus: 0.9499 Earths
// earth: 6371.0 km 1 earth
// mars: 3389.5 km  0,53
// jupiter: 10.973 of Earth's
// saturn: 9.1402 Earths
// uranus: 	25,362 km 3,98
// neptune: 24,622 km 3,864

//Orbital Period (days) 	88.0 	224.7 	365.2 	27.3* 	687.0 	4331 	10,747 	30,589 	59,800 	90,560

$thick-paragr: 'Audiowide', cursive;
$primary-heading: 'Bruno Ace', cursive;
$thick-paragraph2: 'Righteous', cursive;
$paragraph: 'Unbounded', cursive;

// General styling
body {
    background-image: url(./images/starry_bckgrd.jpg);
    color: white;
}

main {
    display: grid;
    gap: 1rem;
    padding: clamp(0rem, 0.5rem, 1rem);
    // min-block-size: 100dvh;
}

h1 {
    font-family: $primary-heading;
    font-size: 4.5rem;
}

h2, h3, ol, il, span {
    background-color: rgba(0, 0, 0, 0.51);
}

h1, p {
    color: white;
    text-align: center;
}

a {
    color:rgb(244, 237, 224);
    &:hover {
        text-decoration: none;
    }    
}

h2 {
    font-family: $thick-paragr;
    margin-bottom: 1rem;
}

p, ol, il, button {
    font-family: $paragraph;
    font-weight: 200;
}

.solar-system {
    @include flexCenter();
    position: relative;
    flex-wrap: wrap;
    padding: clamp(0rem, 0.5rem, 1rem);
    
}

#rotate-btn {
    padding: 5px 10px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.51);
    color: inherit;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    font-weight: 300;
    &:hover {
        background-color: rgba(255, 255, 255, 0.818);
        color: black;
    }
}

#planets {
    @include flexCenter();
    position: relative;
}

.background {
    opacity: 0;
    height: 720px;
    width: 720px;
}

.quiz-container {
    @include flexCenter();
    flex-direction: column;
}

.planet-div {
    position: absolute;
    border-radius: 50%;
    @include flexCenter();
    border: 1px solid;
    border-color:  white;
}

.planet-img {
    border-radius: 100%;
}

.rotation{
    animation: rotation linear infinite;
}

// Planets and sun styles
#sun-div {
    position: absolute;
    border-radius: 50%;
    @include flexCenter();
    width: $sun-size;
    height: $sun-size;
    border-color: transparent;
    z-index: 100;
    cursor: pointer;
}

#sun-img {
    border-radius: 100%;
}

#mercury-div {
    height: $mercury-orbit;
    width: $mercury-orbit;
    animation-duration: (8.8s/3);
}

#mercury-img {
    height: $mercury-size;
    width: $mercury-size;
    background-color: rgb(191, 187, 187);
    translate: 0 ($mercury-orbit / 2);
    animation-duration: (8.8s/3);
}

#venus-div {
    height: $venus-orbit;
    width: $venus-orbit;
    animation-duration: (22.4s/3);
}

#venus-img {
    height: $venus-size;
    width: $venus-size;
    background-color: rgb(244, 237, 224);
    translate: ($venus-orbit / 2) 0;
    animation-duration: (22.4s/3);
}

#earth-div {
    height: $earth-orbit;
    width: $earth-orbit;
    animation-duration: (36.5s/3);
}

#earth-img {
    height: $earth-size;
    width: $earth-size;
    background-color: rgb(115, 135, 194);
    animation-duration: (8.8s/3);
    translate: 0 (-$earth-orbit / 2);
}

#mars-div {
    height: $mars-orbit;
    width: $mars-orbit;
    animation-duration: (68.7s/3);
}

#mars-img {
    height: $mars-size;
    width: $mars-size;
    background-color: rgb(252, 153, 117);
    animation-duration: (8.8s/3);
    translate: (-$mars-orbit / 2) 0;
}

#jupiter-div {
    height: $jupiter-orbit;
    width: $jupiter-orbit;
    animation-duration: (433.1s/15);
}

#jupiter-img {
    height: $jupiter-size;
    width: $jupiter-size;
    background-color: rgb(227, 227, 202);
    animation-duration: (8.8s/3);
    translate: ($jupiter-orbit / 2) 0;
}

#saturn-div {
    height: $saturn-orbit;
    width: $saturn-orbit;
    animation-duration: (1074.7s/30);
    // border-radius: 0%;
}

#saturn-img {
    height: $saturn-size * 1.3;
    // width: $saturn-size * 1.2;
    // background-color: black;
    // animation-duration: (18.8s);
    translate: 0 (-$saturn-orbit / 2);
    border-radius: 0%;
    // rotate: -50deg;
}

#uranus-div {
    height: $uranus-orbit;
    width: $uranus-orbit;
    animation-duration: (3058.9s/30);
}

#uranus-img {
    height: $uranus-size;
    width: $uranus-size;
    background-color: rgb(236, 244, 245);
    animation-duration: (18.8s);
    translate: (-$uranus-orbit / 2) 0;
}

#neptune-div {
    height: $neptune-orbit;
    width: $neptune-orbit;
    animation-duration: (5980s/30);
}

#neptune-img {
    height: $neptune-size;
    width: $neptune-size;
    background-color: rgb(158, 179, 230);
    animation-duration: (8.8s/3);
    translate: 0 ($neptune-orbit / 2);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg) 
    }

    100% {
        transform: rotate(360deg) 
    }
}

