*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/starry_bckgrd.jpg);
  color: white;
}

main {
  display: grid;
  gap: 1rem;
  padding: 0.5rem;
}

h1 {
  font-family: "Bruno Ace", cursive;
  font-size: 4.5rem;
}

h2, h3, ol, il, span {
  background-color: rgba(0, 0, 0, 0.51);
}

h1, p {
  color: white;
  text-align: center;
}

a {
  color: rgb(244, 237, 224);
}
a:hover {
  text-decoration: none;
}

h2 {
  font-family: "Audiowide", cursive;
  margin-bottom: 1rem;
}

p, ol, il, button {
  font-family: "Unbounded", cursive;
  font-weight: 200;
}

.quiz-container {
  margin: 1rem;
}

.question-card {
  background-color: rgba(0, 0, 0, 0.51);
  padding: 1rem 2.5rem;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 750px;
  margin: 0.5rem auto;
}

.score {
  font-size: 20px;
  font-weight: 600;
}

.question {
  font-size: 18px;
  font-weight: 400;
  margin: 0.7rem auto;
}

@media (max-width: 700px) {
  .question-card {
    max-width: 350px;
  }
}
.answers {
  display: grid;
  place-content: center;
  gap: 0.5rem;
  grid-template-columns: 1fr;
}

.answer-btn {
  width: 100%;
  color: white;
  padding: 0.5rem;
  cursor: not-allowed;
  background-color: rgb(81, 81, 81);
}
.answer-btn:enabled {
  background-color: rgba(0, 0, 0, 0.51);
  cursor: pointer;
}
.answer-btn:enabled:hover {
  box-shadow: 0px 0px 5px white;
}

.green {
  background-color: rgb(71, 160, 71);
}

.red {
  background-color: red;
}

.button {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.51);
  cursor: pointer;
  color: white;
  border: 1px solid white;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.818);
  color: black;
}

.start-btn {
  padding: 1rem 2rem;
  font-family: "Bruno Ace", cursive;
  font-size: 24px;
  box-shadow: 0 1px 5px white;
  margin: 1rem auto;
}
.start-btn:hover {
  animation: start ease-in-out 1s infinite;
}

.next-btn {
  font-size: 15px;
  font-weight: 300;
  padding: 0.5rem 1rem;
}

.solar-system {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding: 0.5rem;
}

#rotate-btn {
  padding: 5px 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.51);
  color: inherit;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  font-weight: 300;
}
#rotate-btn:hover {
  background-color: rgba(255, 255, 255, 0.818);
  color: black;
}

#planets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  opacity: 0;
  height: 720px;
  width: 720px;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.planet-div {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: white;
}

.planet-img {
  border-radius: 100%;
}

.rotation {
  animation: rotation linear infinite;
}

#sun-div {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6714285714rem;
  height: 4.6714285714rem;
  border-color: transparent;
  z-index: 100;
  cursor: pointer;
}

#sun-img {
  border-radius: 100%;
}

#mercury-div {
  height: 8.2714285714em;
  width: 8.2714285714em;
  animation-duration: 2.9333333333s;
}

#mercury-img {
  height: 0.57435rem;
  width: 0.57435rem;
  background-color: rgb(191, 187, 187);
  translate: 0 4.1357142857em;
  animation-duration: 2.9333333333s;
}

#venus-div {
  height: 10.82em;
  width: 10.82em;
  animation-duration: 7.4666666667s;
}

#venus-img {
  height: 1.41rem;
  width: 1.41rem;
  background-color: rgb(244, 237, 224);
  translate: 5.41em 0;
  animation-duration: 7.4666666667s;
}

#earth-div {
  height: 14.9em;
  width: 14.9em;
  animation-duration: 12.1666666667s;
}

#earth-img {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(115, 135, 194);
  animation-duration: 2.9333333333s;
  translate: 0 -7.45em;
}

#mars-div {
  height: 17.5384615385em;
  width: 17.5384615385em;
  animation-duration: 22.9s;
}

#mars-img {
  height: 0.795rem;
  width: 0.795rem;
  background-color: rgb(252, 153, 117);
  animation-duration: 2.9333333333s;
  translate: -8.7692307692em 0;
}

#jupiter-div {
  height: 23.5909090909em;
  width: 23.5909090909em;
  animation-duration: 28.8733333333s;
}

#jupiter-img {
  height: 3.2919rem;
  width: 3.2919rem;
  background-color: rgb(227, 227, 202);
  animation-duration: 2.9333333333s;
  translate: 11.7954545455em 0;
}

#saturn-div {
  height: 29.8333333333em;
  width: 29.8333333333em;
  animation-duration: 35.8233333333s;
}

#saturn-img {
  height: 3.564678rem;
  translate: 0 -14.9166666667em;
  border-radius: 0%;
}

#uranus-div {
  height: 35.8375em;
  width: 35.8375em;
  animation-duration: 101.9633333333s;
}

#uranus-img {
  height: 1.99rem;
  width: 1.99rem;
  background-color: rgb(236, 244, 245);
  animation-duration: 18.8s;
  translate: -17.91875em 0;
}

#neptune-div {
  height: 40.3125em;
  width: 40.3125em;
  animation-duration: 199.3333333333s;
}

#neptune-img {
  height: 1.932rem;
  width: 1.932rem;
  background-color: rgb(158, 179, 230);
  animation-duration: 2.9333333333s;
  translate: 0 20.15625em;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes start {
  50% {
    scale: 115%;
  }
  100% {
    scale: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
